.mainNav{
    list-style-type: none;
    background-color:  rgb(163,67,25);
    overflow: hidden;
    padding:0;
    margin:0;
}

.mainNav a {
    color: rgb(16, 46, 82);
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    float: right;
}

.mainNav a:hover {
    background-color: rgb(81, 126, 234);
}

body {
    margin: 0;
    background-color:rgb(250, 185, 114);
}

inputBlock {
    background-color:#6592fe;
    border-radius: 20px;
	border: 3px solid rgba(31, 76, 184);
	display:inline-block;
    height: 40px;
	color:rgba(31, 76, 184);
	font-family:SBAggroB;
	font-size:25px;
	padding:15px 30px;
	text-decoration:none;
    text-align:center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 0px rgba(51, 96, 204);
}

input {
    background-color: #6592fe;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(51, 96, 204);
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100px;
    font-family:SBAggroB;
}

button {
	background-color:rgb(163,67,25);
    border-radius: 20px;
	border: 3px solid rgba(31, 76, 184);
	display:inline-block;
	cursor:pointer;
	color:rgb(250, 185, 114);
	font-family:SBAggroB;
	font-size:25px;
	padding:15px 30px;
	text-decoration:none;
    text-align:center;
    display:block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 0px rgba(51, 96, 204);
}
button:hover {
    background-color:rgb(91, 136, 244);
    color:rgb(245, 245, 245);
    box-shadow: 0px 3px 5px rgb(51, 96, 204);
    border:3px solid rgb(245, 245, 245);
}
button:active {
    border:1px solid rgb(51, 96, 204);
	position: relative;
	top:1px;
    margin-top: 7px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 0px;
}
.buttonLane {
    list-style-type:none;
    padding:0;
    display: grid;
    margin:0;
    width: 100%
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.questionFade {
    display: inline-block;
    padding: 10px;
    width: 100%;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }