html {
    height:100%;
}
.mainNav{
    list-style-type: none;
    background-color:  #6592fe;
    overflow: hidden;
    padding:0;
    margin:0;
}

.mainNav a {
    color: rgb(16, 46, 82);
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    float: right;
    font-family: Arial;
    font-style:bold;
    position:relative;
}

.mainNav a.Logo {
    float: left;
}

.mainNav a:hover {
    background-color: rgb(81, 126, 234);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-right .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

body {
    margin: 0;
    transition: background-color .5s;
    height: 100%;
}

inputBlock {
    background-color:#6592fe;
    border-radius: 20px;
	border: 3px solid rgba(31, 76, 184);
	display:inline-block;
    height: 40px;
	color:rgba(31, 76, 184);
	font-family:SBAggroB;
	font-size:25px;
	padding:15px 30px;
	text-decoration:none;
    text-align:center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 0px rgba(51, 96, 204);
}

input:required {
    background-color: #6592fe;
    color: white;
    border: none;
    border-bottom: 2px solid rgb(51, 96, 204);
    font-size: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    width: 100px;
    font-family:SBAggroB;
}

button {
	background-color:#6592fe;
    border-radius: 20px;
	border: 3px solid rgba(31, 76, 184);
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:SBAggroB;
	font-size:25px;
	padding:15px 30px;
	text-decoration:none;
    text-align:center;
    display:block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 0px rgba(51, 96, 204);
}
button:hover {
    background-color:rgb(91, 136, 244);
    color:rgb(245, 245, 245);
    box-shadow: 0px 3px 5px rgb(51, 96, 204);
    border:3px solid rgb(245, 245, 245);
}
button:active {
    border:1px solid rgb(51, 96, 204);
	position: relative;
	top:1px;
    margin-top: 7px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 0px;
}
.buttonLane {
    list-style-type:none;
    padding:0;
    display: grid;
    margin:0;
    width: 100%
}

@font-face {
    font-family: 'SBAggroB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.questionFade {
    display: inline-block;
    padding: 10px;
    width: 100%;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
  }
  @keyframes fadein {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-moz-keyframes fadein { /* Firefox */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-webkit-keyframes fadein { /* Safari and Chrome */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
  @-o-keyframes fadein { /* Opera */
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }