.mainNav{
    list-style-type: none;
    background-color: aquamarine;
    overflow: hidden;
    padding:0;
    margin:0;
}

.mainNav a {
    color: rgb(16, 46, 82);
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    float: left;
}

.mainNav a:hover {
    background-color: rgb(88, 235, 186);
}